@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    @*@Model.Value("footerLinks")
        @Model.Value("footerIconLabel")
        @Model.Value("footerListIcon")
        @Model.Value("footerListImage")
        @Model.Value("footerListTitle")
        @Model.Value("footers")*@

    var footerColection = Model.Value<IEnumerable<IPublishedElement>>("footers");

    // var listCol = Model.Value<IEnumerable<IPublishedElement>>("footerLinks");
}

@*<div class="container mt-3 mb-3 footerDiv">
    <div class="col-md-12 row services">
        @foreach (var item in footerColection)
        {
            var listsImag = item.Value<IPublishedContent>("footerListImage");

            //var theColection = item.Value<IEnumerable<IPublishedElement>>("");
           // var footerLinkes = item.Value<IPublishedContent>("footerLinks");
            var footerLinks = item.Value<IEnumerable<IPublishedElement>>("footerLinks").FirstOrDefault();

            //footerLinks.Value

            var title = footerLinks?.Value("linkTitle");

            var links = footerLinks?.Value<IEnumerable<Umbraco.Cms.Core.Models.Link>>("linkNavigation")
                ?? Enumerable.Empty<Umbraco.Cms.Core.Models.Link>();

          

            <div class="col-md-3 service">

                <div>
                    <img class="col-md-3" src="@listsImag.Url()" alt="Accept">
                    <span> @item.Value("footerIconLabel")</span>
                </div>

                <ul class="navbar-nav">
                    <li>@item.Value("footerListTitle")</li>

                    @foreach (var link in links)
                    {
                        <li>
                            <a href="@link.Url">
                                @link.Name
                            </a>
                        </li>
                    }

                </ul>
            </div>
        }

    </div>

</div>*@






<div class="container mt-3 mb-3 footerDiv">
        <div class="col-md-12 row services">

            <div class="col-md-3 service">
                <div>
                    <img class="col-md-3" src="/Images/footer-1.png" alt="Accept">
                    <span> Gratis frakt och returer</span>
                </div>
                <ul class="navbar-nav">
                    <li>Shopping</li>
                    <li><a href="https://www.google.dk/">Vinterjackor</a></li>
                    <li><a href="https://www.google.dk/">Pufferjackor</a></li>
                    <li><a href="https://www.google.dk/">Kappa</a></li>
                    <li><a href="https://www.google.dk/">Tran</a></li>
                </ul>


            </div>

            <div class="col-md-3 service">
                <div>
                    <img class="col-md-3" src="/Images/footer-2.png" alt="Accept">
                    <span>Express frakt</span>
                </div>
                <ul class="navbar-nav">
                    <li>Minesidor</li>
                    <li><a href="https://www.google.dk/">Mine Ordar</a></li>
                    <li><a href="https://www.google.dk/">Mitt Konto</a> </li>
                </ul>


            </div>

            <div class="col-md-3 service">
                <div>
                    <img class="col-md-3" src="/Images/footer-3.png" alt="Accept">
                    <span>Säkra betaling</span>
                </div>
                <ul class="navbar-nav">
                    <li>Kundtjänst</li>
                    <li><a href="https://www.google.dk/">Returnpolicy</a></li>
                    <li><a href="https://www.google.dk/">Intagritatepolicy</a></li>
                </ul>

            </div>
            <span class="col-md-3 service">
                <img class="col-md-3" src="/Images/footer-4.png" alt="Accept">
                <span>Nyheter varje dag</span>
            </span>
        </div>
    </div>



<div class="border-top  footer-copyright py-3 text-center">
    <div class="container-fluid">
        @* @Model.Value("footerCopyright")*@
        © Freaky Fashion 2021. All rights reserved.
    </div>
</div>
