@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var image = Model.Value<IPublishedContent>("heroImage");
}

<h1 class="text-center text-danger">@Model.Value("titlePage")</h1>


<div class="row hero">
    <div class="col-md-4 heroTextBox">
     
        <h1 class="title">@Model.Value("heroTitle")</h1>
        
        <p class="textbox-wrapper">
            @Model.Value("heroDescription")
        </p>
        <a class="col-12 btn btn-primary btnHero" href="@Model.Value("heroButton")">Show all @Model.Value("heroButton")</a>
    </div>
    <div class="col-md-8 imageBoxHero">
        <img class="col-10 imageHero" src="@image.Url()" alt="@image.Name" />
    </div>